<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulgnier.web.app.mapper.FacilityInfoMapper">

    <select id="selectFacilityInfoByRoomId" resultType="com.yulgnier.model.entity.FacilityInfo">
        select fi.id,
               fi.type,
               fi.name,
               fi.icon
        from room_facility as rf
                 left join facility_info as fi on rf.facility_id = fi.id and fi.is_deleted = 0
        where rf.room_id = #{id}
          and rf.is_deleted = 0
    </select>
</mapper>
