<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulgnier.web.app.mapper.ViewAppointmentMapper">

    <resultMap id="getAppointmentItemVoByUserIdMap" type="com.yulgnier.web.app.vo.appointment.AppointmentItemVo" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="graphVoList" ofType="com.yulgnier.web.app.vo.graph.GraphVo" column="ai_id" select="selectApartmentGraphVoById"/>
    </resultMap>

    <select id="getAppointmentItemVoByUserId" resultMap="getAppointmentItemVoByUserIdMap">
        select va.id,
               va.appointment_time,
               va.appointment_status,
               ai.id   as ai_id,
               ai.name as "apartmentName"
        from view_appointment as va
                 left join apartment_info as ai on va.apartment_id = ai.id and ai.is_deleted = 0 and ai.is_release = 1
        where va.user_id = #{userId}
          and va.is_deleted = 0
          and va.appointment_status = 1
    </select>

    <select id="selectApartmentGraphVoById" resultType="com.yulgnier.web.app.vo.graph.GraphVo">
        select name,
               url
        from graph_info
        where item_type = 1
          and item_id = #{ai_id}
          and is_deleted = 0
    </select>
</mapper>
